/* ضبط اللوجو */
.logo {
    font-size: 2.2rem;
    font-weight: 900;
    color: #ffffff;
    display: flex;
    gap: 10px; /* بيعمل مسافة احترافية بين الكلمتين */
}

.logo span {
    color: #FF8C00; /* اللون البرتقالي */
}

/* ضبط الهيرو وصورتك الشخصية */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), 
                url('main-bg.jpg'); /* اتأكد إن الاسم مطابق للصورة اللي رفعتها */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
